<%= render '/static_pages/carousel' %>
<div class="ui action input">
  <input type="text" placeholder="Search...">
  <select class="ui compact selection dropdown browser-default">
    <option value="all">All</option>
    <option selected="" value="articles">Articles</option>
    <option value="products">Products</option>
  </select>
  <div type="submit" class="ui button">Search</div>
</div>